body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: #E5E7EB;
    font-size: 18px;
}
.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #E5E7EB;
}

.block-one{
    display: flex;
    background-color: #1F2937;
}
.left-maintxt {
    font-size: 42px;
    font-weight: bold;
    color: #F9FAF8;
    
}
.left-text{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
}
img{
    width: 300px;
    height: 400px;
}
.b2-info{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    font-size: 36px;
    font-weight: bold;
    color:#1F2937;
    padding:50px;
}